body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

.logo {
    width: 350px;
    padding: 15px 5px;
}

/* ---------sliding images---------- */

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none;
}

#image-track > a > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}
  
a {
    display: inline-block;
    position: relative;
    object-position: 100% 50%;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a:hover .image-overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .layla {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
  }
  

/* ------------image overlay------------ */
.image {
	position: relative;
	width: 400px;
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.image-overlay--blur {
	backdrop-filter: blur(50px);
}

.image-overlay--primary {
	background: #009578;
}

.image-overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image-overlay:hover {
	opacity: 1;
}

.image-overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 2em;
	font-weight: lighter;
}

.image__description {
	font-size: 1em;
	margin-top: 0.25em;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
}

/* ------------- Link Styles ----------------- */
  
#source-link-1 {
    bottom: 60px;
    margin-bottom: 10px;
  }
#source-link-2 {
    margin-top: 10px;
}
  
    .meta-link {
        align-items: center;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        bottom: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: inline-flex;
        flex-direction: row;
        gap: 5px;
        left: 10px;
        padding: 10px;
        position: fixed;
        text-decoration: none;
        transition: background-color 400ms, border-color 400ms;
    }
  
  
.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
  
.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}
  
.meta-link > span {
    color: white;
    font-weight: 500;
}